In [1]:
require('data.table')

Loading required package: data.table

In [2]:
zs <- fread("../../../data/gwas/ukb24983_v2_hg19.Testosterone_zerosex.genotyped.glm.linear", data.table=FALSE)

In [3]:
head(zs)

  #CHROM POS    ID          REF ALT A1 TEST OBS_CT BETA        SE
1 XY      60425 rs34557243  C   A   A  ADD  141845  0.00816956 0.01033270
2 XY      60454 rs28494123  A   G   G  ADD  141198  0.00633311 0.00368942
3 XY      61067 rs28590175  A   G   G  ADD  142169  0.00676082 0.01023070
4 XY      62079 rs117654552 C   G   G  ADD  142020  0.01107040 0.01023760
5 XY      62615 rs28491545  A   C   C  ADD  141953  0.00709509 0.00370080
6 XY     167755 rs73174453  G   T   T  ADD  141967 -0.00715268 0.00376379
  T_STAT    P
1  0.790649 0.4291500
2  1.716560 0.0860623
3  0.660835 0.5087190
4  1.081350 0.2795440
5  1.917180 0.0552172
6 -1.900390 0.0573838

In [32]:
Xqc <- fread("../../../data/chr_qc/chrX_qc_table.txt")
XYqc <- fread("../../../data/chr_qc/chrXY_qc_table.txt")

In [5]:
require('tidyverse')

Loading required package: tidyverse

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──

✔ ggplot2 3.3.0     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   0.8.5
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::between()   masks data.table::between()
✖ dplyr::filter()    masks stats::filter()
✖ dplyr::first()     masks data.table::first()
✖ dplyr::lag()       masks stats::lag()
✖ dplyr::last()      masks data.table::last()
✖ purrr::transpose() masks data.table::transpose()

In [6]:
x_chr <- zs %>% rename("CHR"="#CHROM") %>% filter(CHR=="X")
head(x_chr)

  CHR POS     ID            REF ALT A1 TEST OBS_CT BETA         SE
1 X   2699676 rs60075487    G   A   A  ADD  142156  3.70148e-05 0.00514830
2 X   2700027 rs2306736     T   C   C  ADD  141721  1.40454e-03 0.00377159
3 X   2700151 Affx-92044070 A   AT  AT ADD  126508           NA         NA
4 X   2700202 rs5939320     A   G   G  ADD  141854 -1.68624e-03 0.00403405
5 X   2700972 rs146462965   C   T   T  ADD  142215 -1.34441e-02 0.01751600
6 X   2701185 rs1970797     C   T   T  ADD  141937 -5.20965e-04 0.00548991
  T_STAT      P
1  0.00718972 0.994263
2  0.37240000 0.709595
3          NA       NA
4 -0.41800200 0.675946
5 -0.76752800 0.442769
6 -0.09489500 0.924398

In [7]:
head(Xqc)

  SNP           CHR A1 A2 MAF      F_MISS      LD keep
1 Affx-34464730 X   A  G  0.821453 0.000683898 0  0
2 Affx-34470541 X   T  G  0.998817 0.001566410 1  1
3 Affx-34480971 X   A  C  0.987194 0.010207300 1  1
4 Affx-34492707 X   T  C  0.988038 0.002023030 1  1
5 Affx-34492709 X   G  A  0.224857 0.000788325 0  0
6 Affx-34494619 X   C  G  0.767836 0.001820320 0  0

In [8]:
ff_X <- fread("../../../data/gwas/flipfix/test_flipfix_X.txt")

In [9]:
colnames(ff_X) <- colnames(x_chr)

In [10]:
table(ff_X$A1==x_chr$A1)

 TRUE
18857

In [11]:
comb_tab <- ff_X %>% left_join(Xqc %>% select(SNP, A1, A2, MAF), by=c("ID"="SNP"))

In [12]:
head(comb_tab)

  CHR POS     ID            REF ALT A1.x TEST OBS_CT BETA         SE
1 X   2699676 rs60075487    G   A   A    ADD  142156  3.70148e-05 0.00514830
2 X   2700027 rs2306736     T   C   C    ADD  141721  1.40454e-03 0.00377159
3 X   2700151 Affx-92044070 A   AT  AT   ADD  126508           NA         NA
4 X   2700202 rs5939320     A   G   G    ADD  141854 -1.68624e-03 0.00403405
5 X   2700972 rs146462965   C   T   T    ADD  142215 -1.34441e-02 0.01751600
6 X   2701185 rs1970797     C   T   T    ADD  141937 -5.20965e-04 0.00548991
  T_STAT      P        A1.y A2 MAF
1  0.00718972 0.994263 A    G  0.836553
2  0.37240000 0.709595 C    T  0.464364
3          NA       NA AT   A  0.999970
4 -0.41800200 0.675946 G    A  0.681743
5 -0.76752800 0.442769 T    C  0.988290
6 -0.09489500 0.924398 T    C  0.134382

In [13]:
comb_tab %>% filter(MAF > 0.5) %>% head()

  CHR POS     ID            REF ALT A1.x TEST OBS_CT BETA         SE
1 X   2699676 rs60075487    G   A   A    ADD  142156  3.70148e-05 0.00514830
2 X   2700151 Affx-92044070 A   AT  AT   ADD  126508           NA         NA
3 X   2700202 rs5939320     A   G   G    ADD  141854 -1.68624e-03 0.00403405
4 X   2700972 rs146462965   C   T   T    ADD  142215 -1.34441e-02 0.01751600
5 X   2702698 rs73433431    C   T   T    ADD  142173 -3.52917e-03 0.00740524
6 X   2706340 rs5982859     G   A   A    ADD  140778  3.37209e-03 0.00880481
  T_STAT      P        A1.y A2 MAF
1  0.00718972 0.994263 A    G  0.836553
2          NA       NA AT   A  0.999970
3 -0.41800200 0.675946 G    A  0.681743
4 -0.76752800 0.442769 T    C  0.988290
5 -0.47657800 0.633664 T    C  0.931468
6  0.38298200 0.701733 A    G  0.941722

In [15]:
var_metadata <- fread("../../../data/snp_filt_metadata.txt", data.table=FALSE)

Warning message in fread("../../../data/snp_filt_metadata.txt", data.table = FALSE):
“Detected 31 column names but the data has 32 columns (i.e. invalid file). Added 1 extra default column name for the first column which is guessed to be row names or an index. Use setnames() afterwards if this guess is not correct, or fix the file write command that created the file to create a valid file.”

In [16]:
head(var_metadata[,1:7])

  V1 CHROM POS    REF ALT ID          Gene
1  9 1     767096 A   G   rs115991721 ENSG00000228794
2 10 1     768448 G   A   rs12562034  ENSG00000228794
3 12 1     779322 A   G   rs4040617   ENSG00000228794
4 13 1     801536 T   G   rs79373928  ENSG00000230368
5 16 1     813034 A   G   rs59771807  ENSG00000230368
6 17 1     834830 G   A   rs116452738

In [17]:
colnames(var_metadata)

 [1] "V1"                "CHROM"             "POS"
 [4] "REF"               "ALT"               "ID"
 [7] "Gene"              "Consequence"       "HGVSp"
[10] "LoF"               "LoF_filter"        "LoF_flags"
[13] "LoF_info"          "consequence_field" "f_miss"
[16] "f_miss_bileve"     "f_miss_wcsg"       "freq"
[19] "hwe_p"             "maf"               "ld_indep"
[22] "wcsg_only"         "bileve_only"       "filter"
[25] "missingness"       "hwe"               "mcpi"
[28] "gnomad_af"         "mgi"               "mgi_notes"
[31] "all_filters"       "Gene_symbol"

In [18]:
chr22_qc <- var_metadata %>% select(CHROM, ID, REF, ALT, maf) %>% filter(CHROM=="22")

In [19]:
chr22 <- zs %>% rename("CHR"="#CHROM") %>% filter(CHR=="22") %>% left_join(chr22_qc, by=c("ID"))
head(chr22)

  CHR POS      ID            REF.x ALT.x A1 TEST OBS_CT BETA        SE
1 22  16057417 rs62224618    C     T     T  ADD  140794 -0.00955624 0.00631569
2 22  16287538 Affx-52233492 G     C     C  ADD  142185          NA         NA
3 22  16287557 rs200923174   C     G     G  ADD  142173 -0.46488200 0.31626600
4 22  16287585 Affx-80289661 AC    A     A  ADD  140704 -1.04196000 0.70720700
5 22  16287663 Affx-80289662 TC    T     T  ADD  142035 -0.13286900 0.70708600
6 22  16287779 Affx-52336937 CT    C     C  ADD  142230  0.17740100 0.57737200
  T_STAT    P        CHROM REF.y ALT.y maf
1 -1.513100 0.130258 NA    NA    NA              NA
2        NA       NA 22    G     C     8.903689e-06
3 -1.469910 0.141589 22    C     G     3.858758e-05
4 -1.473340 0.140661 NA    NA    NA              NA
5 -0.187911 0.850947 22    TC    T     1.485650e-05
6  0.307255 0.758650 22    CT    C     5.934313e-06

In [20]:
chr22 %>% filter(maf > 0.5)
# ok so there is none that is like this. so it looks like perhaps the issue is with the reference data??

     CHR POS ID REF.x ALT.x A1 TEST OBS_CT BETA SE T_STAT P CHROM REF.y ALT.y
     maf

In [21]:
table(chr22$REF.x==chr22$REF.y)

TRUE
6180

In [33]:
xchr_bim <- fread("/oak/stanford/groups/mrivas/private_data/ukbb/24983/snp/snp_download/ukb_snp_chrX_v2.bim")
xychr_bim <- fread("/oak/stanford/groups/mrivas/private_data/ukbb/24983/snp/snp_download/ukb_snp_chrXY_v2.bim")

In [34]:
colnames(xchr_bim) <- c("CHR", "ID", "dist", "pos", "A1", "A2")
colnames(xychr_bim) <- c("CHR", "ID", "dist", "pos", "A1", "A2")

In [24]:
xchr_ref <- full_join(Xqc, xchr_bim, by=c("SNP"="ID"))
head(xchr_ref)

  SNP           CHR.x A1.x A2.x MAF      F_MISS      LD keep CHR.y dist
1 Affx-34464730 X     A    G    0.821453 0.000683898 0  0    23    0
2 Affx-34470541 X     T    G    0.998817 0.001566410 1  1    23    0
3 Affx-34480971 X     A    C    0.987194 0.010207300 1  1    23    0
4 Affx-34492707 X     T    C    0.988038 0.002023030 1  1    23    0
5 Affx-34492709 X     G    A    0.224857 0.000788325 0  0    23    0
6 Affx-34494619 X     C    G    0.767836 0.001820320 0  0    23    0
  pos       A1.y A2.y
1 100608191 G    A
2 101912465 G    T
3 104463832 C    A
4 107433669 C    T
5 107433688 A    G
6 107976940 G    C

In [35]:
xychr_ref <- full_join(XYqc, xychr_bim, by=c("SNP"="ID"))
head(xychr_ref)

  SNP           CHR.x A1.x A2.x MAF      F_MISS      LD keep CHR.y dist
1 Affx-34637689 XY    T    C    0.701461 0.003255680 0  0    25    0
2 Affx-34642957 XY    T    G    0.925713 0.000702326 0  0    25    0
3 Affx-34660664 XY    A    T    0.978064 0.002043500 0  0    25    0
4 Affx-34691882 XY    T    C    0.418119 0.001973880 0  0    25    0
5 Affx-34729416 XY    T    C    0.896423 0.835355000 0  0    25    0
6 Affx-34734836 XY    G    A    0.189222 0.067742700 0  0    25    0
  pos       A1.y A2.y
1   1417936 C    T
2   1428421 G    T
3   1455787 T    A
4    207362 C    T
5 155015986 C    T
6   1656711 A    G

In [25]:
table(xchr_ref$A1.x==xchr_ref$A1.y)

FALSE
18857

In [36]:
table(xychr_ref$A1.x==xychr_ref$A1.y)

FALSE
 1357

In [37]:
chr22_f <- read_tsv("../../../data/chr_qc/chr22.f.afreq")
chr22_f %>% head()

Parsed with column specification:
cols(
  `#CHROM` = col_double(),
  ID = col_character(),
  REF = col_character(),
  ALT = col_character(),
  ALT_FREQS = col_double(),
  OBS_CT = col_double()
)

  #CHROM ID            REF ALT ALT_FREQS OBS_CT
1 22     rs62224618    T   C   0.899445  965976
2 22     Affx-52233492 C   G   0.999994  975914
3 22     rs200923174   G   C   0.999967  975768
4 22     Affx-80289661 A   AC  0.999990  965218
5 22     Affx-80289662 T   TC  0.999988  974848
6 22     Affx-52336937 C   CT  0.999992  976196

In [26]:
# ok so --LITERALLY-- all of them are swapped... hmm
table(xchr_ref$A1.x==xchr_ref$A2.y)
# did we generate the tables wrong?
# -- look at XY(mb X reference just isnt adjusted)
# -- try generating another chromosome
#>> did this, it just swaps them. so all of the alleles need to be swapped

 TRUE
18857

In [27]:
chr22_bim <- fread("/oak/stanford/groups/mrivas/private_data/ukbb/24983/snp/snp_download/ukb_snp_chr22_v2.bim")

In [38]:
colnames(chr22_bim) <- c("CHR", "ID", "dist", "pos", "A1", "A2")
chr22_ref <- full_join(chr22_bim, chr22_qc, by=c("ID"))
chr22_ref <- full_join(chr22_bim, chr22_f, by=c("ID"))

head(chr22_ref)

  CHR ID            dist pos      A1 A2 #CHROM REF ALT ALT_FREQS OBS_CT
1 22  rs62224618    0    16057417 C  T  22     T   C   0.899445  965976
2 22  Affx-52233492 0    16287538 G  C  22     C   G   0.999994  975914
3 22  rs200923174   0    16287557 C  G  22     G   C   0.999967  975768
4 22  Affx-80289661 0    16287585 AC A  22     A   AC  0.999990  965218
5 22  Affx-80289662 0    16287663 TC T  22     T   TC  0.999988  974848
6 22  Affx-52336937 0    16287779 CT C  22     C   CT  0.999992  976196

In [39]:
table(chr22_ref$A1==chr22_ref$REF)

FALSE
12968

In [30]:
# what are the X tables
Xqc %>% head()

  SNP           CHR A1 A2 MAF      F_MISS      LD keep
1 Affx-34464730 X   A  G  0.821453 0.000683898 0  0
2 Affx-34470541 X   T  G  0.998817 0.001566410 1  1
3 Affx-34480971 X   A  C  0.987194 0.010207300 1  1
4 Affx-34492707 X   T  C  0.988038 0.002023030 1  1
5 Affx-34492709 X   G  A  0.224857 0.000788325 0  0
6 Affx-34494619 X   C  G  0.767836 0.001820320 0  0

In [31]:
xchr_bim %>% head()

# what flipfix does:
# Check and make sure the REF/ALT alleles in GWAS results corresponds to A1/A2 alleles in UKBB bim file

  CHR ID            dist pos     A1 A2
1 23  rs60075487    0    2699676 G  A
2 23  rs2306736     0    2700027 T  C
3 23  Affx-92044070 0    2700151 A  AT
4 23  rs5939320     0    2700202 A  G
5 23  rs146462965   0    2700972 C  T
6 23  rs1970797     0    2701185 C  T

In [40]:
xchr %>% head()

ERROR: Error in eval(lhs, parent, parent): object 'xchr' not found

In [44]:
df <- x_chr %>% left_join(xchr_bim, by=c("ID"))
table(df$REF==df$A1.y) # OK so this does match -- so the issue is that the MAF data that we have is backward

 TRUE
18857

In [46]:
Xqc_v2 <- Xqc %>% mutate(MAF=1-MAF, REF=A2, ALT=A1)

In [47]:
XYqc_v2 <- XYqc %>% mutate(MAF=1-MAF, REF=A2, ALT=A1)

In [50]:
table(Xqc_v2$MAF > 0.5)

FALSE  TRUE
16281  2576

In [53]:
table(chr22_f$ALT_FREQS > 0.5)

FALSE  TRUE
 1660 11308

In [54]:
var_tab <- fread("/oak/stanford/groups/mrivas/private_data/ukbb/variant_filtering/variant_filter_table.tsv.gz")

In [57]:
var_tab2 <- var_tab %>% select(CHROM, POS, REF, ALT, ID, maf)

In [58]:
table(var_tab2$maf > 0.5)

 FALSE
784256