In [7]:
require('tidyverse')

Loading required package: tidyverse
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 2.2.1     ✔ purrr   0.2.4
✔ tibble  1.4.2     ✔ dplyr   0.7.4
✔ tidyr   0.8.1     ✔ stringr 1.3.0
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [12]:
# age last used HRT: 3546
# age started HRT: 3536
# age last used bc pill: 2804
# age started bc pill: 2794


hrt_last <- read.table("../phefiles/ss/INI3546.phe") # this is bad b/c no -11 == still taking
hrt_last_full <- read.table("../phefiles/3546.phe")
hrt_start <- read.table("../phefiles/ss/INI3581.phe")

pill_last <- read.table("../phefiles/ss/2804.phe")
pill_start <- read.table("../phefiles/ss/INI2794.phe")

colnames(hrt_last_full) <- c("ID", "ID2", "val")
colnames(pill_last) <- c("ID", "ID2", "val")

In [13]:
# data field 20003 has treatment/medication code
# "testosterone product", "testogel"
# many on estrogen products

# -11 = still taking
table(pill_last[,3]==-11) # ~5k
table(hrt_last_full[,3]==-11) # ~17k
# <--- similar to stats in data showcase, slightly less

 FALSE   TRUE
215238   4919

FALSE  TRUE
87491 16458

In [16]:
head(pill_last)
pill_taking <- pill_last %>% mutate(pill=(val==-11))
hrt_taking <- hrt_last_full %>% mutate(hrt=(val==-11))

table(pill_taking$pill)
table(hrt_taking$hrt)

comb_tab <- full_join(pill_taking[,c("ID", "pill")], hrt_taking[,c("ID", "hrt")])
head(comb_tab)

  ID      ID2     val
1 2829867 2829867 NA
2 2809727 2809727 30
3 3025032 3025032 19
4 4662128 4662128 NA
5 4621391 4621391 NA
6 4563020 4563020 NA

 FALSE   TRUE
215238   4919

FALSE  TRUE
87491 16458

Joining, by = "ID"

  ID      pill  hrt
1 2829867    NA NA
2 2809727 FALSE NA
3 3025032 FALSE NA
4 4662128    NA NA
5 4621391    NA NA
6 4563020    NA NA

In [17]:
# write it out
write.table(comb_tab, file="../data/pill_hrt.txt", sep="\t", quote=FALSE, row.names=FALSE)