In [2]:
require('tidyverse')
require('data.table')
require('dplyr')
require('reshape2')
options(stringsAsFactors=FALSE)

Loading required package: tidyverse
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 2.2.1     ✔ purrr   0.2.4
✔ tibble  1.4.2     ✔ dplyr   0.7.4
✔ tidyr   0.8.1     ✔ stringr 1.3.0
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: data.table

Attaching package: ‘data.table’

The following objects are masked from ‘package:dplyr’:

    between, first, last

The following object is masked from ‘package:purrr’:

    transpose

Loading required package: reshape2

Attaching package: ‘reshape2’

The following objects are masked from ‘package:data.table’:

    dcast, melt

The following object is masked from ‘package:tidyr’:

    smiths

In [3]:
biomarker_phe <- fread("/oak/stanford/groups/mrivas/projects/biomarkers/covariate_corrected/phenotypes/raw/biomarkers_serum_full.phe",
                      data.table=FALSE)

In [4]:
biomarker_phe <- rename(biomarker_phe, IID=f.eid)
bio_long <- melt(biomarker_phe, id.vars=c("IID"))
head(bio_long)

  IID     variable    value
1 5586147 f.30600.0.0 NA
2 5144865 f.30600.0.0 NA
3 2845962 f.30600.0.0 46.07
4 3390045 f.30600.0.0 47.45
5 4264965 f.30600.0.0 45.75
6 3131746 f.30600.0.0 49.71

In [5]:
bio_long_s <- head(bio_long,800)

In [6]:
bio_long2 <- bio_long_s %>% separate(variable, c(NA, "trait", "visit", NA))
head(bio_long2)

  IID     <NA> trait visit <NA> value
1 5586147 f    30600 0     0    NA
2 5144865 f    30600 0     0    NA
3 2845962 f    30600 0     0    46.07
4 3390045 f    30600 0     0    47.45
5 4264965 f    30600 0     0    45.75
6 3131746 f    30600 0     0    49.71

In [8]:
bio_mat <- dcast(bio_long2,  IID + visit ~ trait, value.var="value")

In [10]:
keep.rows <- apply(bio_mat[,2:ncol(bio_mat)], 1, function(x) any(!is.na(x)))
table(keep.rows)
bio_mat2 <- bio_mat[keep.rows,]
table(bio_mat2$IID >=0)
bio_mat3 <- filter(bio_mat2, IID >= 0)
head(bio_mat3)
write.table(bio_mat3, file="../data/biomarker_visit_mat.txt", row.names=FALSE, quote=FALSE)

keep.rows
TRUE
 800

TRUE
 800

  IID     visit 30600
1 1001331 0     NA
2 1003238 0     48.72
3 1005259 0     48.45
4 1007447 0     40.87
5 1016322 0     48.52
6 1016888 0     45.86